header {
    align-items: center;
    background-color: #4039D0;
    color: white;
    display: flex;
    justify-content: space-evenly;
}


#menu-list {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly
    list-style-type: none;
    font-weight: 800;
    padding-left: 0px;
    text-align: center;

}
footer {
    color: purple;
    background-color: lightcyan;
}

.a-background {
    background-color:#F6DF5C ;
}

.b-background {
    background-color:#76F54D;
}

.c-background {
    background-color:#F54DCA;
}
.centered {
    text-align: center;
}

.into {
    max-width: 500px;
    text-align: left;
}

.rounded {
    border-radius: 30px;
}
.font {

    font-family: system-ui;
}
